*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1E3A5F;
  }

    
    
    header {
    background-color: rgba(255, 255, 255, 0.644);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(0, 0, 0);
}


header h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
        

}
/* Navigation button styles */
.nav-btn {
    text-decoration: none;
    border: 1px solid;
    color: rgb(56, 8, 229);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}


.nav-btn:hover {
    background-color: rgba(6, 36, 43, 0.329);
}

/* Container for all cards */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;}

/* Each individual card */
.card {
  background-color: #FEFAE0;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Card content */
.card h2 {
  color: #eb0dff;
  font-size: 20px;
  text-shadow: 2px 2px 7px #231bbbb7;
  margin-bottom: 8px;
}

.card p {
  color: #1839db;
  font-size: 14px;
  text-shadow: 2px 2px 7px #000000ac;
  margin: 5px 0;
}

/* Flag image */
.flag-img {
  width: 90%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 1px 1px 20px black;
  
}
.my-select {
    width: 220px;
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background: #f9f9f9;
    transition: 0.2s ease;
}
.my-select:hover {
    border-color: #6B8CA8;
    outline: none;
    background-color: rgba(26, 136, 163, 0.514);
}
#searchInput {
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 300px;
    margin: 20px 0;
    outline: none;
    transition: all 0.3s ease;
}
#searchInput::placeholder {
    color: #999;
}
#searchInput:hover{
  border-color: #1E3A5F;

}
#searchnub{
   padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 25px;
    width: 300px;
    margin: 20px 0;
    transition: all 0.3s ease;
}
#searchnub:hover{
  border-color: #1E3A5F;
}
