*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}
header{
    display: flex;
    justify-content: center;
        background-color: rgba(255, 255, 255, 0.644);

}


.nav-btn:hover {
    background-color: rgba(26, 202, 242, 0.6);
}
body {
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(img/world\ map.jpg);
  }

.nav-btn {
    text-decoration: none;
    border: 3px solid;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 4px;
}


.nav-btn:hover {
    background-color: rgba(14, 142, 171, 0.674);
}

.cardnew {
  background-color: #fefae00e;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.cardnew h2 {
     color: #ff0d0d;
  font-size: 20px;
  text-shadow: 2px 2px 7px #231bbbb7;
  margin-bottom: 8px;
}
.cardnew p{
    color: #ffffff;
  font-size: 14px;
  text-shadow: 2px 2px 7px #b7ff00;
  margin: 5px 0;
}
/* Flag image */
.flag-img {
  
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 1px 1px 20px black;
  
}
